#site-name a {
  color: #2f3833;
  font-family: 'Courier New',Courier,Monospace;
  font-weight: 800;
  text-decoration: none;
  border-left-width: 0px;
  font-size: 42px;
}

#header-group-inner {
  background-color: transparent;
}

#right-background {
  background-image: none;
  background-color: #b5e084;
}

#left-background {
  background-image: none;
  background-color: transparent;
}

#page-inner {
  background-color: transparent;
}

#logo {
  margin-top: 0px;
}

#header-site-info {
  margin-bottom: 0px;
}

.field-content a {
  font-size: 14px;
}

a {
  border-left-width: 0px;
}

#site-name-wrapper {
  margin-left: 40px;
  border-top-width: 0px;
  margin-top: 0px;
}

#header-region-inner {
  margin-left: 0px;
}

#content-inner-inner h1 {
  color: #233647;
}

#page {
  background-color: #b5e084;
}

