/* $Id$ */

#appbar {
  background-color: #3F3F3F;
  border-color: #2F2F2F;
  color: #959B9F;
}

#appbar_alerts_list,
.appbar-block-popup .appbar-block-content,
.appbar-block-controls {
  background-color: #3F3F3F;
  border-color: #2F2F2F;
}

/* It would be easier to specify "inherit" here, but IE does not support it. */
#appbar_messages,
#appbar-blocks,
.appbar_alert,
.appbar-block,
.appbar-block-inline ul li,
.appbar-block-inline ul.menu li,
.appbar-block-inline .item-list ul li,
.appbar-block-inline li.leaf {
  border-color: #2F2F2F;
}

.appbar-new,
.appbar-has-new {
  background-color: #4F4F4F;
}
