/* $Id$ */

#appbar_container {
  font-family: "Helvetica Neue", Helvetic, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  position: fixed;
  padding-bottom: 10px;
  right: 1em;
}

#appbar {
  background: url(bar_bg.png) repeat-x scroll 0 0 transparent;
  border: none;
  float: right;
  height: 35px;
  line-height: 35px;
  padding: 0;
}

#appbar a:link,
#appbar a:active,
#appbar a:visited {
  color: #999999;
  text-decoration: none;
}

#appbar a {
  color: #007CCF;
}

#appbar a:hover {
	color: #0099FF;
}

#appbar div {
  float: left;
  line-height: 27px;
  margin: 4px 0;
}

#appbar div.appbar-block {
  margin: 0;
}

#appbar div .appbar-block-controls {
  background: url("bar_bg.png") repeat-x scroll 0 -4px transparent;
  clear: both;
  float: none;
  margin: 0;
}

.appbar-block-popup .appbar-block-content {
  bottom: 31px;
}

.appbar-new,
.appbar-has-new {
  background-color: #4F4F4F;
}

#appbar_messages {
  float: right;
  height: 32px;
  border-left: none;
}

#appbar_alerts {
  cursor: pointer;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-family: "Helvetica Neue", Helvetic, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #999999;
  border-left: 0 none;
  height: 24px;
  float: left;
  display: block;
}

#appbar_alerts:hover {
  color: #0099FF;
}

#appbar_alerts_list {
  background-color: #FFFFFF;
  border: 2px #B5B5B5 solid;
  border-bottom:none;
  display: none;
  max-height: 450px;
  min-height: 249px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  right: 0;
  width: 200px;
  z-index: -10;
  color: #999999;
}

.appbar-item-first {
  border-left: 2px #B5B5B5 solid;
}

#appbar .views-hide {
  display: none;
}

.appbar_alert {
  border-bottom: none;
  padding: 0.5em;
}

.appbar-alert-last {
  border-bottom: 0 none;
}

.appbar-new,
.appbar-has-new {
  background-color: transparent;
}

.appbar_time {
  font-size: 10px;
  padding-left: 0.5em;
}

#appbar_sub {
  display: block;
  float: right;
  margin: 0px;
  overflow: visible !important;
  position: relative;
}